process.container = 'quay.io/nextflow/bash'

mail {
    smtp.host = 'email-smtp.eu-west-1.amazonaws.com'
    smtp.port = 587
    smtp.user = secrets.MAIL_USER
    smtp.password = secrets.MAIL_PASSWORD
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.ssl.protocols = 'TLSv1.2'
    debug = true
}
