process.container = 'quay.io/nextflow/bash'

mail {
    smtp.host = 'email-smtp.eu-west-1.amazonaws.com'
    smtp.port = 587
    smtp.user = secrets.MAIL_USER
    smtp.password = secrets.MAIL_PASSWORD
}

workflow.onComplete = {

    def msg = """\
        Pipeline execution summary
        ---------------------------
        Completed at: ${workflow.complete}
        Duration    : ${workflow.duration}
        Success     : ${workflow.success}
        workDir     : ${workflow.workDir}
        exit status : ${workflow.exitStatus}
        """
        .stripIndent()

    sendMail(to: 'paolo.ditommaso@gmail.com', subject: 'My pipeline execution', body: msg)
}
